<nav>
    <a href="#">Logo</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Sevices</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>